[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "switchde"]
	path = switchde
	url = https://github.com/kieranrcampbell/switchde
